body {
    font-family: 'Syne', sans-serif;
}

li {
    font-family: 'Syne', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #1E1E1E;
}

main {
    font-family: 'Syne', sans-serif;
    color: #1E1E1E;
}

footer {
    background: #1E1E1E;
    padding-top: 50px;
    padding-bottom: 50px; 
}

footer p {
   color: #ffffff; 
}

h1 {
    font-size: 48px;
    font-weight: 800 !important;
}

h2 {
    font-size: 28px;
    font-weight: 800 !important;
}

h4 {
    font-size: 24px;
    font-weight: 800 !important;
}

h5 {
    font-size: 16px;
    font-weight: 400;
}

p {
    font-size: 18px;
    font-weight: 400;
}

a {
    font-size: 16px;
    font-weight: 800;
    color: #1E1E1E !important;
}